@font-face {
  font-family: 'Eina01-Regular';
  src: local('Eina01-Regular'), url(../../fonts/Eina01-Regular/Eina01-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "Evogria";
  src: local('Evogria'), url(../../fonts/evogria-cufonfonts/Evogria.otf) format('opentype');
}

@font-face {
  font-family: "Roboto-Condensed";
  src: url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
}

@font-face {
  font-family: "Flamante-Round";
  src: local("Flamante-Round"), url(../../fonts/Flamante\ Round\ -Demo\ FFP-/Flamante-Round-Book-FFP.ttf) format('truetype');
}

.flexbox-faq-outer-container {
  display: flex;
  z-index: 2;
  /* border: 2px solid red; */
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
}

.flexbox-faq-inner-container {
  /* border: 2px solid blue; */
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(114, 127, 146); */
}

.flexbox-faq-heading-container {
  /* border: 2px solid blue; */
  width: 80%;
  height: 100%;
  min-width: 650px;
}

.flexbox-faq-heading-container h2 {
  padding: 10px;
  /* border: 2px solid red; */
  padding-left: 15px;
  text-align: center;
  font-family: "Roboto-Condensed", sans-serif;
  font-style: normal;
  font-size: 30px;
  line-height: 40px;
  font-weight: 600;
  color: black;
  /* background-color: rgb(105, 120, 125); */
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) */
}

.flexbox-faq-heading-container h2 span {
  /* color: #718091; */
  /* color: rgb(146, 155, 159); */
  /* color: rgb(179, 24, 46); */
  color: rgb(0, 0, 0, 0.6);
  /* color: black; */
  /* font-size: 35px; */
  text-transform: uppercase;
}

.faqs {
  /* border: 2px solid red; */
  width: 100%;
  min-width: 600px;
  max-width: 768px;
  margin: 0 auto;
  padding: 15px;
  margin-bottom: 30px;
}

.faqs .faq {
  margin: 15px;
  padding: 25px;
  /* background-color: #fff; */
  /* background-color: rgb(146, 155, 159); */
  background-color: rgb(105, 120, 125);
  border: 0.5px solid grey;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.faqs .faq .faq-question {
  /* border: 2px solid red; */
  /* background-color: rgb(105, 120, 125); */
  /* background-color: rgb(146, 155, 159); */
  /* background-color: rgb(146, 155, 159); */
  background-color: rgb(105, 120, 125);
  padding: 3px;
  position: relative;
  padding-right: 80px;
  transition: all 0.6s ease;
  /* height: 40px; */
  min-height: 100%;
  opacity: 0.6;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: white;
}

.faqs .faq .faq-question:hover {
  cursor: pointer;
}

.faqs .faq .faq-question::after {
  /* border: 2px solid blue; */
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;

  background-image: url("../../images/arrow-down-mint.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  transition: all 0.4s ease-out;
}

.faqs .faq .faq-answer {
  /* border: 2px solid red; */
  opacity: 0;
  min-height: 0;
  max-height: 0px;
  overflow-y: hidden;
  transition: all 0.3s ease-out;
}

.faqs .faq.open .faq-question {
  padding: 7px;
  margin-bottom: 15px;
  /* color: white; */
  /* background-color: #404040; */
  background-color: rgb(146, 155, 159);
  color: black;
  opacity: 1;
  border-radius: 15px;
}

.faqs .faq.open .faq-question:hover {
  cursor: pointer;
}

.faqs .faq.open .faq-question::after {
  transform: translateY(-50%) rotate(180deg);
}

.faqs .faq.open .faq-answer {
  color: black;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 23px;
  line-height: 25px;
  font-weight: 400;
  /* border: 2px solid blue; */
  max-height: 1000px;
  opacity: 1;
  background-color: rgb(146, 155, 159);
  padding: 15px;
  border-radius: 15px;
}

.faqs .faq.open {
  /* border: 2px solid rgb(179, 24, 46, 0.4); red */
  border: 2px solid rgb(0, 0, 0, 0.2);
  color: red;
}

.faqs .faq:hover .faq-question {
  opacity: 1;
  cursor: pointer;
  /* color: #c31531; */
  color: black;
}