@font-face {
  font-family: "Eina01-Regular";
  src: local("Eina01-Regular"),
    url(../../fonts/Eina01-Regular/Eina01-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Evogria";
  src: local("Evogria"),
    url(../../fonts/evogria-cufonfonts/Evogria.otf) format("opentype");
}

@font-face {
  font-family: "Roboto-Condensed";
  src: url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
}

@font-face {
  font-family: "Flamante-Round";
  src: local("Flamante-Round"),
    url(../../fonts/Flamante\ Round\ -Demo\ FFP-/Flamante-Round-Book-FFP.ttf)
      format("truetype");
}

@media only screen and (max-width: 420px) {
  body .flexbox-hiw-item-text-container p {
    font-size: 18px;
    line-height: 22px;
  }
}

/* @media only screen and (max-width: 1500px) {
  body .flexbox-hiw-inner-container {
    border: 2px solid yellow !important; commented out
    width: 100%;
  }
} */

@media only screen and (max-width: 1500px) {
  body .flexbox-hiw-inner-container {
    /* border: 2px solid yellow !important; */
    width: 100%;
  }

  body .flexbox-hiw-item-text-heading-container h2 {
    min-width: unset;
  }

  body .flexbox-hiw-item-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-width: unset; */
  }

  body .flexbox-hiw-item {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  body #hiw-item-paragraph-1,
  body #hiw-item-paragraph-2 {
    margin-top: 22px;
  }
  
}

.flexbox-hiw-outer-container {
  /* margin-top: 3%; */
  /* margin-bottom: 6%; */
  height: 100%;
  width: 100vw;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 75px 0;
}

.flexbox-hiw-inner-container {
  /* border: 2px solid blue; */
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.flexbox-hiw-heading-container {
  /* border: 2px solid blue; */
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
}

.flexbox-hiw-heading-container h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 60px;
  line-height: 70px;
  font-weight: 600;
  color: black;
  margin-top: unset;
}

.flexbox-hiw-item-container {
  /* border: 2px solid red; */
  width: 100%;
  /* min-width: 595px; */
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.flexbox-hiw-item {
  /* border: 2px solid blue; */
  width: 415px;
  height: 100%;
  padding: 20px;
  /* background-color: #1A2954; */
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 12px; */
  /* background-color: black;
  box-shadow: 0 5px 10px 8px rgba(0, 0, 0, 0.4); */
  /* background-color: rgb(114, 127, 146); */
  /* box-shadow: 0 5px 10px 8px rgba(0, 0, 0, 0.4); */
  border-radius: 15px;
}

.flexbox-hiw-item-text-heading-container h2 {
  /* border: 1px solid red; */
  width: 100%;
  min-width: 325px;
  padding-top: 10px;
  margin: unset;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 33px;
  line-height: 40px;
  font-weight: 500;
  color: black;
  text-align: center;
}

.flexbox-hiw-item-text-container {
  /* border: 1px solid red; */
  /* background-color: lightgray; */
  padding: 10px;
  /* width: 395px; */
  border-radius: 15px;
  min-width: 300px;
}

.flexbox-hiw-item-text-container p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 25px;
  font-weight: 400;
  color: black;
  text-align: left;
  /* word-break: break-all;
  hyphens: manual; */
}

.flexbox-hiw-item img {
  height: auto;
  width: 100%;
  max-width: 415px;
  min-width: 300px;
  border-radius: 15px;
}

.flexbox-hiw-item-text-heading-container {
  /* border: 2px solid blue; */
  width: 100%;
}

#hiw-item-paragraph-1,
#hiw-item-paragraph-2 {
  margin-top: 63px;
}
