@font-face {
  font-family: "Eina01-Regular";
  src: local("Eina01-Regular"),
    url(../../fonts/Eina01-Regular/Eina01-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Evogria";
  src: local("Evogria"),
    url(../../fonts/evogria-cufonfonts/Evogria.otf) format("opentype");
}

@font-face {
  font-family: "Roboto-Condensed";
  src: url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
}

@font-face {
  font-family: "Flamante-Round";
  src: local("Flamante-Round"),
    url(../../fonts/Flamante\ Round\ -Demo\ FFP-/Flamante-Round-Book-FFP.ttf)
      format("truetype");
}

.flexbox-hiw-outer-container {
  margin-top: 3%;
  margin-bottom: 6%;
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexbox-hiw-inner-container {
  width: 80%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.flexbox-hiw-heading-container {
  /* border: 2px solid blue; */
  width: 100%;
  text-align: center;
  background-color: ;
}

.flexbox-hiw-heading-container h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 45px;
  line-height: 55px;
  font-weight: 500;
  color: black;
  margin-bottom: 3%;
}

.flexbox-hiw-item-container {
  /* border: 2px solid green; */
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
}

.flexbox-hiw-item {
  /* border: 2px solid blue; */
  width: 415px;
  height: 100%;
  padding: 20px;
  /* background-color: #1A2954; */
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 12px; */
  /* background-color: black;
  box-shadow: 0 5px 10px 8px rgba(0, 0, 0, 0.4); */
  /* background-color: rgb(114, 127, 146); */
  /* box-shadow: 0 5px 10px 8px rgba(0, 0, 0, 0.4); */
  border-radius: 15px;
}

.flexbox-hiw-item-text-heading-container h2 {
  width: 100%;
  /* border: 1px solid red; */
  padding-top: 10px;
  margin: unset;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 33px;
  line-height: 40px;
  font-weight: 500;
  color: black;
  text-align: center;
}

.flexbox-hiw-item-text-container {
  /* border: 1px solid red; */
  /* background-color: lightgray; */
  padding: 10px;
  width: 395px;
  border-radius: 15px;
}

.flexbox-hiw-item-text-container p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 25px;
  font-weight: 400;
  color: black;
  text-align: center;
}

.flexbox-hiw-item img {
  height: 277px;
  width: 100%;
  border-radius: 15px;
}

.flexbox-hiw-item-text-heading-container {
  /* border: 2px solid blue; */
  width: 100%;
}