@font-face {
  font-family: 'Eina01-Regular';
  src: local('Eina01-Regular'), url(../../fonts/Eina01-Regular/Eina01-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "Evogria";
  src: local('Evogria'), url(../../fonts/evogria-cufonfonts/Evogria.otf) format('opentype');
}

@font-face {
  font-family: "Roboto-Condensed";
  src: url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
}

@font-face {
  font-family: "Flamante-Round";
  src: local("Flamante-Round"), url(../../fonts/Flamante\ Round\ -Demo\ FFP-/Flamante-Round-Book-FFP.ttf) format('truetype');
}

.flexbox-footer-outer-container {
  display: flex;
  align-items: center;
  /* border: 2px solid red; */
  height: 100px;
  width: 100vw;
  color: black;
  background-color: #F4F4F4;;
  color: rgb(255, 255, 255);
  background-color: black;
  /* background: rgb(27,41,84);
  background: linear-gradient(90deg, rgba(27,41,84,1) 0%, rgba(33,77,135,1) 25%, rgba(33,77,135,1) 75%, rgba(27,41,84,1) 100%); */
  /* background: rgb(27,41,84);
  background: linear-gradient(90deg, rgba(27,41,84,1) 0%, rgba(33,77,135,1) 5%, rgba(33,77,135,1) 95%, rgba(27,41,84,1) 100%); */
}

.flexbox-footer-text-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.flexbox-footer-text-container p {
  font-family: "Roboto-Condensed", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
}

.flexbox-footer-text-container p span:hover {
  color: #c31531;
}