@font-face {
  font-family: 'Eina01-Regular';
  src: local('Eina01-Regular'), url(../../fonts/Eina01-Regular/Eina01-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "Evogria";
  src: local('Evogria'), url(../../fonts/evogria-cufonfonts/Evogria.otf) format('opentype');
}

@font-face {
  font-family: "Roboto-Condensed";
  src: url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
}

@font-face {
  font-family: "Flamante-Round";
  src: local("Flamante-Round"), url(../../fonts/Flamante\ Round\ -Demo\ FFP-/Flamante-Round-Book-FFP.ttf) format('truetype');
}

.flexbox-navigationbar-outer-container {
  /* border: 2px solid red; */
  /* background-color: #001F2B; */
  /* background-color: #214D87; this is the one */
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100px;
}

.flexbox-navigationbar-image-container {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 50%;
  width: 250px;
}

.flexbox-navigationbar-menu-container {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
}

.flexbox-navigationbar-menu-container {
  /* border: 2px solid red; */
  margin-right: 10px;
  /* border: 2px solid black;  */
}

.flexbox-navigationbar-menu-container #navigationbar-menu-button-empty {
  height: 0px !important;
  width: 50px !important;
}

.flexbox-navigationbar-menu-container button {
  min-width: 65px;
  height: 40px;
  /* background-color: #404040; */
  background-color: white;
  border: none;
  /* border: 1px solid white; */
}

.flexbox-navigationbar-menu-container button a {
  font-family: "Flamante-Round", "Roboto-Condensed", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  width: 100%;
  /* background-color: #404040; */
  background-color: white;
  color: black;
  text-decoration: none;
}

.flexbox-navigationbar-menu-container button:hover {
  background-color: #404040;
}

.flexbox-navigationbar-menu-container button:hover a {
  color: white;
  background-color: #404040;
}